<!DOCTYPE html>
<html ng-app="wordGame">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Word Guess Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./assets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body class="ng-cloak">
    <div class="main-div" ng-controller="ctrl">
        <div ng-show="gameInPlay" ng-keypress="guessedLetter()">
            <h3>Lives</h3>
            <p class="remaining">{{guessesRemaining}}</p>
            <h2 class="incorrect">Incorrect <span class="guess" ng-repeat="guesses in incorrectGuesses">{{guesses}} </span></h2>
            <h2 class="correct">Correct <span class="guess" ng-repeat="guesses in correctGuesses">{{guesses}} </span></h2>
            <br>
            <br>
            <h2 class="displayed"><span>{{displayed}}</span></h2> 
            <input type="text" ng-model="inputGuess" ng-change="guessedLetter()" placeholder="type here">
            <br>
            <br>
            <h3 ng-hide="showValidationError">You've already guessed this letter!</h3>
        </div>
        <div class="game-over-div" ng-show="!gameInPlay">
            {{gameOverText}}
            <br>
            <br>
            Play again?
            <br>
            <button class="new-game" ng-click="generateWord()">New Game</button>
        </div>
    </div>
    <script src="./assets/app.js"></script>
</body>
</html>